<div class="all">
  <div class="jumbotron"></div>
  <h1>Fall In Love With Dietzel</h1>
<div class="d-flex flex-row justify-content-center m-3">
  <div class="card mr-3 mb-3">
    <div class="card-body">
      <h5 class="card-title">Registry</h5>
      <p class="card-text">Mackenzie and Doug are registered at the following websites.</p>
      <div class="d-flex flex-column">
      <a href="https://www.crateandbarrel.com/gift-registry/mackenzie-hawes/r5799480" class="btn">
        <img src="../assets/CrateAndBarrel.jpg"/>
      </a>
      <a href="https://www.zola.com/registry/douglasandmackenzie" class="btn">
        <img src="../assets/Zola.jpeg"/>
      </a>
    </div>
    </div>
  </div>
  <div class="card ml-3 mb-3">
    <div class="card-body">
      <h5 class="card-title">Location</h5>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12070.661014450498!2d-81.3513956!3d40.8572727!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x874f0c0a0c4d5f9!2sGervasi+Vineyard!5e0!3m2!1sen!2sus!4v1530460049226" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <ngb-carousel class="d-flex justify-content-center">
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0011.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0061.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0164.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0244.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0254.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0261.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0266.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0279.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0494.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0528.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0554.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0643.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0841.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0863.jpg">
    </ng-template>
  </ngb-carousel>
</div>
