<div class="all text-center">
  <div class="jumbotron"></div>
  <h1 class="text-center">Fall In Love With Dietzel</h1>
<div class="d-flex flex-md-row flex-column justify-content-center m-3">
  <div class="card mr-3 mb-3 col">
    <div class="card-body">
      <h5 class="card-title">Registry</h5>
      <p class="card-text">Mackenzie and Doug<br>are registered at the following websites.</p>
      <div class="d-flex flex-column">
      <a href="https://www.crateandbarrel.com/gift-registry/mackenzie-hawes/r5799480" class="btn">
        <img src="../assets/CrateAndBarrel.jpg"/>
      </a>
      <a href="https://www.zola.com/registry/douglasandmackenzie" class="btn">
        <img src="../assets/Zola.jpeg"/>
      </a>
    </div>
    </div>
  </div>
  <div class="card ml-3 mb-3 col">
    <div class="card-body">
      <h5 class="card-title">Location</h5>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12070.661014450498!2d-81.3513956!3d40.8572727!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x874f0c0a0c4d5f9!2sGervasi+Vineyard!5e0!3m2!1sen!2sus!4v1530460049226" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<hr>
<div>
  <h2>Hotel Information</h2>
  <div class="d-flex flex-md-row flex-column justify-content-center m-3">
    <div class="card mr-3 mb-3">
      <div class="card-body">
        <h5 class="card-title">Hyatt Place - <a href="tel:330-244-1700" class="card-text">330-244-1700</a></h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3017.516941749309!2d-81.42549854911115!3d40.860528336351116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8836d135ef823629%3A0xf09fbbbdaeee4b3e!2s5421+Whipple+Ave+NW%2C+Canton%2C+OH+44720!5e0!3m2!1sen!2sus!4v1532642206921" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        <p class="card-text">*Breakfast will be served at the Hyatt Place from<br>9-11am on Saturday, October 27th the morning after the wedding.</p>
      </div>
    </div>
    <div class="card ml-3 mb-3 col">
      <div class="card-body">
        <h5 class="card-title">Staybridge Suites - <a href="tel:330-966-6620" class="card-text">330-966-6620</a></h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12070.661014450498!2d-81.3513956!3d40.8572727!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x874f0c0a0c4d5f9!2sGervasi+Vineyard!5e0!3m2!1sen!2sus!4v1530460049226" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>        
      </div>
    </div>
  </div>
</div>
<hr>
<h2>Photos of the Happy Couple</h2>
<div class="d-flex justify-content-center">
  <ngb-carousel class="d-flex justify-content-center">
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0011.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0061.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0164.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0244.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0254.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0261.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0266.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0279.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0494.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0528.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0554.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0643.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0841.jpg">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/DKP_D-M_E_0863.jpg">
    </ng-template>
  </ngb-carousel>
</div>
