.all{
    background-color: #ebeced;
    color: #000a4c;
    height: fit-content;
    padding: 10px;
}

.jumbotron{
    background-image: url(../assets/DKP_D-M_E_0244.jpg);
    background-position: center;
    background-size: 100%;
    height: 50vh;
}

h1{
    color: #720026;
}

#GervasiMap{
    width:20vw;
}

a img{
    width: 100%;
    padding: 5px;
}

a img:hover{
    border: 5px solid #720026;
    padding: 0px;
}

ngb-carousel{
    width: 90vw;
    max-height: 90vh;
}

ngb-carousel:active{
    border:none;
}

ngb-carousel img{
    width: 90vw;
    max-height: 90vh;
    object-fit: contain;
}